<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            designed and developed by meta
            <br>
            © 2022 no rights reserved
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="https://twitter.com/_metadesign">Get in touch</a></li>
            {%- endif -%}
        </ul>
      </div>
    </div>

  </div>

</footer>
