<header class="site-header" role="banner">

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <div class="site-holder">
      <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
    </div>
    
    {%- if page_paths -%}
      <nav class="nav-bar">
        <a class="page-link" href="{{ site.baseurl }}/services">Services</a>
        <a class="page-link" href="{{ site.baseurl }}/projects">Projects</a>
        <a class="page-link" href="{{ site.baseurl }}/about">About</a>
        <a class="page-link" href="{{ site.baseurl }}/contact">Contact</a>
        <br>
        <a class="page-link" href="https://twitter.com/MetaPikachu123/" target="blank">Twitter</a>
        <br>
      </nav>
    {%- endif -%}

    {%- if page.title -%}
      <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}
  </div>
</header>
