---

---

$text-color: #e6e6e6ff;
$background-color: #32373bff;
// $content-width: 1600px;
$content-width: 2500px;

@import "minima";

@font-face {
	font-family: "louisGeorge";
	src: url("../assets/fonts/louisGeorge.ttf");
}

@font-face {
	font-family: "coolvetica";
	src: url("../assets/fonts/coolvetica.otf");
}

.box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px 2em;
    text-align: center;
}
  
.box :first-child {
    align-self:flex-end;
}

.site-header {
    position: relative;
    margin: 2em;
    border-top: 0px solid transparent;
    border-bottom: 0px solid transparent;
    background-image: url(../assets/imgs/image930.png);
}

.site-footer {
    border-top: 0px solid transparent;
}

.site-title {
    margin: .5em 0em;
    font-size: 50px;
    font-family: "coolvetica", sans-serif;
    text-align: center;
}

.site-nav {
    text-align: right;
    line-height: 1.4;
    font-size: 35px;
    font-family: "louisGeorge", sans-serif;
    position:absolute;
    top:0;
    right:0;
}

.page-heading {
    margin-left: 2em;
    text-align: left;
    font-size: 70px;
    font-family: "coolvetica", sans-serif;
}

.home-content {
    max-width: 40%;
    margin: 0 auto;
    text-align: left;
    font-size: 25px;
    line-height: 1.4;
    font-family: "louisGeorge", sans-serif;
}

.home-content h1 {
    text-align: center;
    font-size: 60px;
    font-family: "coolvetica", sans-serif;
    color: #748cabff;
}

.post-content {
    margin: 0em 0em 0em 9em;
    text-align: left;
    font-size: 25px;
    line-height: 1.4;
    font-family: "louisGeorge", sans-serif;
}

.post-content h1 {
    text-align: center;
    font-size: 40px;
    font-family: "coolvetica", sans-serif;
    color: #748cabff;
}