---

---

$text-color: rgb(241, 241, 241);
$background-color: #32373bff;
// $content-width: 1600px;
$content-width: 3200px;

@import "minima";

@font-face {
	font-family: "louisGeorge";
	src: url("../assets/fonts/louisGeorge.ttf");
}

@font-face {
	font-family: "coolvetica";
	src: url("../assets/fonts/coolvetica.otf");
}

.site-header {
    position: relative;
    border-top: 0px solid transparent;
    border-bottom: 0px solid transparent;
    background-image: url(../assets/imgs/image930.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-attachment: scroll;
    background-size: cover;
}

.site-holder a {
    color: $text-color;
}

.site-footer {
    border-top: 0px solid transparent;
}

.site-holder {
    display: block;
    text-align: center;
    margin: 3em 2em 5em 2em;
}

.site-title {
    float: none;
    font-size: 50px;
    font-family: "coolvetica", sans-serif;
}

.nav-bar {
    text-align: right;
    line-height: 1.4;
    font-size: 35px;
    margin: 1em 2em 0em;
    font-family: "louisGeorge", sans-serif;
    position:absolute;
    top:0;
    right:0;
}

.nav-bar a {
    color: $text-color;
}

.page-heading {
    margin-left: 1em;
    text-align: left;
    font-size: 100px;
    font-family: "coolvetica", sans-serif;
}

.home-content {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
    font-size: 25px;
    line-height: 1.4;
    font-family: "louisGeorge", sans-serif;
}

.home-content h1 {
    text-align: center;
    max-width: 600px;
    font-size: 60px;
    font-family: "coolvetica", sans-serif;
    color: #748cabff;
}

.post-content {
    margin: 0em 0em 0em 9em;
    max-width: 600px;
    text-align: left;
    font-size: 25px;
    line-height: 1.4;
    font-family: "louisGeorge", sans-serif;
}

.post-content h1 {
    text-align: left;
    max-width: 600px;
    font-size: 40px;
    font-family: "coolvetica", sans-serif;
    color: #748cabff;
}

@media (max-width: 1400px) {
    .nav-bar {
        text-align: right;
        line-height: 1.4;
        font-size: 35px;
        margin: 1em 2em 0em;
        font-family: "louisGeorge", sans-serif;
        position:absolute;
        top:2.5em;
        right:0;
    }
    .site-holder {
        display: block;
        text-align: center;
        margin: 3em 2em 10em 2em;
    }
}

@media (max-width: 1000px) {
    .post-content {
        margin: 0em 0em 0em 1em;
        max-width: 600px;
        text-align: left;
        font-size: 25px;
        line-height: 1.4;
        font-family: "louisGeorge", sans-serif;
    }
    .page-heading {
        margin-left: 0em;
        text-align: left;
        font-size: 80px;
        font-family: "coolvetica", sans-serif;
    }
}

@media (max-width: 690px) {
    .nav-bar {
        text-align: center;
        line-height: 1.4;
        font-size: 35px;
        margin: 1em 2em 0em;
        font-family: "louisGeorge", sans-serif;
        position:absolute;
        top:2.5em;
        right:0;
    }
}