---

---

$text-color: rgb(241, 241, 241);
$background-color: #32373bff;
// $content-width: 1600px;
$content-width: 2500px;

@import "minima";

@font-face {
	font-family: "louisGeorge";
	src: url("../assets/fonts/louisGeorge.ttf");
}

@font-face {
	font-family: "coolvetica";
	src: url("../assets/fonts/coolvetica.otf");
}

.site-header {
    position: relative;
    border-top: 0px solid transparent;
    border-bottom: 0px solid transparent;
    background-image: url(../assets/imgs/image930.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-attachment: scroll;
    background-size: cover;
}

.site-holder a {
    color: $text-color;
}

.site-footer {
    border-top: 0px solid transparent;
}

.site-holder {
    display: block;
    text-align: center;
    margin: 3em 0em 5em 0em;
}

.site-title {
    float: none;
    font-size: 50px;
    font-family: "coolvetica", sans-serif;
}

.site-nav {
    text-align: right;
    line-height: 1.4;
    font-size: 35px;
    margin: 1.2em 2em 0em;
    font-family: "louisGeorge", sans-serif;
    position:absolute;
    top:0;
    right:0;
}

.page-heading {
    margin-left: 1.5em;
    text-align: left;
    font-size: 100px;
    font-family: "coolvetica", sans-serif;
}

.home-content {
    max-width: 40%;
    margin: 0 auto;
    text-align: left;
    font-size: 25px;
    line-height: 1.4;
    font-family: "louisGeorge", sans-serif;
}

.home-content h1 {
    text-align: center;
    font-size: 60px;
    font-family: "coolvetica", sans-serif;
    color: #748cabff;
}

.post-content {
    margin: 0em 0em 0em 9em;
    text-align: left;
    font-size: 25px;
    line-height: 1.4;
    font-family: "louisGeorge", sans-serif;
}

.post-content h1 {
    text-align: left;
    font-size: 40px;
    font-family: "coolvetica", sans-serif;
    color: #748cabff;
}